<html lang="en"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Calculater</title>
    <style>
        .center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.black_color{
    color: #000000;
    font-size: 25px;
}
.footer {
  position: relative;
  left: 40%;
  width: 18%;
  height: 20px;
  background-color: wheat; padding: inherit;
  color: red;
  text-align: center;
}
        </style>
  </head>
  <body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" style="
            color: #000000;
            font-size: 50px;
            font-style: oblique;">
          Calculater
        </a>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary" style="color:#000000">Home</a></li>
        </ul>
  
      </header>
  </div>
    <div class="center">
        <form action="{{ url_for('do_operation') }}" method="POST">
            <div class="form-group">
              <label for="exampleFormControlInput1" class="black_color">First Number</label>
              <input type="number" class="form-control" id="number" name="value_1" required="">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1" class="black_color">Second Number</label>
                <input type="number" class="form-control" id="number_2" name="value_2" required="">
              </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1" class="black_color">Example select</label>
              <select class="form-control" id="exampleFormControlSelect1" name="opertion" required="">
                <option value="Addition">Addition</option>
                <option value="Subraction">Subtraction</option>
                <option value="Divide">Divide</option>
                <option value="Multiply">Multiply</option>
              </select>
            </div>
            
           <input type="submit" value="Submit" class="btn btn-dark">
          </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="footer">
          <a href="https://validator.w3.org/">W3 Markup Validation service </a><br>
          <a href="https://github.com/kn329/Project1/tree/master">GIT HUB</a>
          <p> &copy;2021 Kartheek Nadella</p>
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body></html>